<a href="https://colab.research.google.com/github/sathubhavani/DAV1/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1, 2, "three", 4.0]
print(f"List: {my_list}")

List: [1, 2, 'three', 4.0]

In [2]:
my_tuple = (10, "twenty", 30.0)
print(f"Tuple: {my_tuple}")

Tuple: (10, 'twenty', 30.0)

In [3]:
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(f"Dictionary: {my_dictionary}")

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [4]:
import pandas as pd

data = {
    "Name": ["Bob", "Charlie", "David"],
    "Age": [25, 35, 40],
    "Occupation": ["Engineer", "Doctor", "Artist"]
}
my_dataframe = pd.DataFrame(data)
print("\nDataFrame:")
print(my_dataframe)

DataFrame:
      Name  Age Occupation
0      Bob   25   Engineer
1  Charlie   35     Doctor
2    David   40     Artist